// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.darkmode--activated .ignore {
    mix-blend-mode: difference !important;
    // isolation: isolate;
}

.e-border {
    border-style: solid;
    border-color: red;
}


// .router-link-active {
//     filter: invert(30%);
// }

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.sticky1 {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
}

.sticky2 {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 80px;

}

.sticky3 {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 380px;
}

.darkmode-layer,
.darkmode-toggle {
    z-index: 500;
}

.dashed-border {
    border: dashed white 5px;
}

.bg-grad {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(6, 214, 139, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.bd-grad {
    border-color: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(6, 214, 139, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.grad {
    color: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(6, 214, 139, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.lime {
    color: #05D69D;
}

.blue {
    color: #01D4EC;
}

.bg-lime {
    background-color: #05D69D !important;
}

.bg-blue {
    background-color: #01D4EC !important;
}

.border-darkg {
    border-color: #05D69D !important;
    background-color: unset !important;
}

.border-darkng {
    border: 1px solid #05D69D !important;
}
